<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Including head partial -->
    <%- include('./partials/head') %>
    <title>Homepage</title>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <!-- Including scripts partial -->
    <%- include('./partials/scripts') %>
  </body>
</html>
